---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary, url } = basics;
---

<Section title="About me">
  <p>
    {summary}
  </p>
  <br />
  <p class="print"><span class="text-bold">Portafolio:</span> {url}</p>
</Section>

<style>
  .text-bold {
    font-weight: bold;
  }
</style>
